:root {
    --primary-color: #0088AA;
    --secondary-color: #FF9955;
  }
  

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    background: #EBEBEB;
}

.navbar{
    background: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.nav-logo{
    width: 30px;
    height: 30px;
}

.nav-link{
    color: #FFFFFF;
    text-decoration: underline;
    text-emphasis: strong;
}


/*OP Post Section*/

.OP-post-container{
    border: 5px solid var(--secondary-color);
    background: #FFFFFF;
}

.OP-post-text-bubble{
    background: rgba(255, 153, 85, 0.12);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 100%;
}

.OP-posts-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/*Thread Section*/

.thread-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px solid var(--primary-color);
    background: #FFFFFF;
}


/*Misc*/

.post-text-bubble{
    background: rgba(0, 136, 170, 0.12);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 100%;
}


.orange-text{
    color: var(--secondary-color);
}

.blue-text{
    color: var(--primary-color);
}

.blue-divider{
    border-bottom: 2px solid var(--primary-color);
    margin: 10px;
}

.gray-divider{
    border-bottom: 2px solid #EBEBEB;
    margin: 10px;
}

