:root {
    --primary-color: #0088AA;
    --secondary-color: #FF9955;
  }
  

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    background: #EBEBEB;
}

.navbar{
    background: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo{
    width: 30px;
    height: 30px;
}

.nav-link{
    color: #FFFFFF;
    text-decoration: underline;
    margin-left: 20px;
    font-size: 21px;
    font-weight: bold;
}


/*OP Post Section*/

.OP-post-container{
    border: 5px solid var(--secondary-color);
    background: #FFFFFF;
}

.OP-post-text-bubble{
    background: rgba(255, 153, 85, 0.12);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 100%;
}

.OP-posts-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.OP-posts-metadata{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}

.OP-posts-content-container{
    display: flex;
    flex-direction: row;
}


/*Thread Section*/

.thread-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px solid var(--primary-color);
    background: #FFFFFF;
    margin: 50px;
}

.posts-content-container-OP{
    display: flex;
    flex-direction: row-reverse;
}

/*Transition*/

.fade-image-in{
    animation: fadein 1s;
}

/*Misc*/

.post-text-bubble{
    background: rgba(0, 136, 170, 0.12);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 100%;
}


.orange-text{
    color: var(--secondary-color);
}

.blue-text{
    color: var(--primary-color);
}

.blue-divider{
    border-bottom: 2px solid var(--primary-color);
    margin: 10px;
}

.gray-divider{
    border-bottom: 2px solid #EBEBEB;
    margin: 10px;
}

.responsive-img{
    max-width: 100%;
    height: auto;
}

.container-width{
    width: 80%;
}


/*Mobile*/

@media only screen and (max-width: 600px) {
    .nav-link{
        font-size: 16px;
    }

    .OP-posts-metadata{
        flex-direction: column;
    }

    .OP-posts-content-container{
        flex-direction: column;
    }

    .container-width{
        width: 100%;
    }

    .thread-container{
        margin: 5px;
    }

    .posts-content-container-OP{
        flex-direction: column;
    }

}